package {{packageName}}.infrastructure

import com.google.gson
import java.util.*

object Serializer {
    @JvmStatic
    val gson = Gson()

/*
    val moshi: Moshi = Moshi.Builder()
            .add(KotlinJsonAdapterFactory())
            .add(Date::class.java, Rfc3339DateJsonAdapter().nullSafe())
            .build()
*/
}
